

<!DOCTYPE html>
<html ng-app='MsgApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js" charset="utf-8"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="app.js"></script>
    <style>
    body { font-size: 1.2em;}
    input {
        border: none;
        background: transparent;
    }

    input:focus {
    outline:none;
}

    #listContainer {
    height: 250px;
    overflow: scroll;
}


    </style>
    <title>Shopping List</title>
  </head>
  <body ng-controller='MsgController'class="w3-orange w3-container">
    <h1>Shopping List</h1>

    <div class="w3-container w3-blue w3-padding-4">
      <input class="w3-input w3-round-xxlarge w3-border-0 w3-white" type="text" ng-model="filterText" placeholder="Search Item">
    </div>

    <div class="w3-center w3-khaki" id="listContainer">
<ul>
  <li ng-repeat="x in list | filter:filterText"><input class="w3-input" type="text" value="{{x.quantity}} {{x.name}}"></li>
</ul>
  </div>

<div class="w3-container w3-green w3-padding-4">
  <input  class="w3-input w3-round-xxlarge w3-white" type="text" ng-model="newItem" placeholder="insert new item">

<div class="w3-center">
  <button class="w3-btn w3-teal w3-margin" type="button" ng-click="addToList()" >Add {{newItem}} to the list</button>
</div>
</div>



  </body>
</html>
